<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Clipper</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Upload Video</h1>
      <div id="hardware-indicator-main" class="flex">Detecting hardware...</div>
      <form
        id="upload-form"
        action="/upload"
        method="post"
        enctype="multipart/form-data"
        class="grid"
      >
        <div class="flex">
          <input type="file" name="file" id="file" accept="video/*" />
          <button type="submit" class="btn">Upload</button>
        </div>
      </form>

      <div style="margin-top: 2rem; text-align: center;">
        <a href="{{ url_for('youtube') }}" class="btn" style="background-color: #ff0000; color: white;">
          Manual Upload to YouTube
        </a>
      </div>
    </div>

    <!-- Modal for progress bar -->
    <div id="progress-modal" class="modal">
      <div class="modal-content">
        <h2 id="progress-title">Uploading...</h2>
        <div class="progress-bar">
          <div class="progress">
            <div class="loading-animation"></div>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
