<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Clipper</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Upload Video</h1>
      <form
        action="/upload"
        method="post"
        enctype="multipart/form-data"
        class="grid"
      >
        <div class="flex">
          <input type="file" name="file" id="file" accept="video/*" />
          <button type="submit" class="btn">Upload</button>
        </div>
      </form>
    </div>
  </body>
</html>
