<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Clipper</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Upload Video</h1>
      <form
        id="upload-form"
        action="/upload"
        method="post"
        enctype="multipart/form-data"
        class="grid"
      >
        <div class="flex">
          <input type="file" name="file" id="file" accept="video/*" />
          <button type="submit" class="btn">Upload</button>
        </div>
      </form>
    </div>

    <!-- Modal for progress bar -->
    <div id="progress-modal" class="modal">
      <div class="modal-content">
        <h2 id="progress-title">Uploading...</h2>
        <div class="progress-bar">
          <div class="progress">
            <div class="loading-animation"></div>
          </div>
        </div>
      </div>
    </div>

    <script>
      document
        .getElementById("upload-form")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          document.getElementById("progress-modal").style.display = "block";
          uploadFile(new FormData(this));
        });

      function uploadFile(formData) {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/upload", true);

        xhr.upload.onprogress = function (event) {
          if (event.lengthComputable) {
            const percentComplete = (event.loaded / event.total) * 100;
            document.querySelector(".progress").style.width =
              percentComplete + "%";
          }
        };

        xhr.onload = function () {
          if (xhr.status === 200) {
            window.location.href = xhr.responseURL;
          } else {
            alert("Upload failed!");
            document.getElementById("progress-modal").style.display = "none";
          }
        };

        xhr.send(formData);
      }
    </script>
  </body>
</html>
